{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block menu %}
{% include 'components/menu.html' %}
{% include 'components/Search.html' %}
{% endblock %}

{% block content %}

<section id="HomeOsmm" class="container">
    <main>
        <section>
            <!-- <img src="{% static 'images/logo.svg' %}" alt=""> -->
            <img src="{% static 'img/logoobmacs.png' %}" alt="">
        </section>
        <section class="descricao">
            <button>
                <a href="http://podemos.alunoead.com.br/course/view.php?id=12">Aluno inscreva-se aqui</a>
            </button>

            <button>
                <a href="{% static 'documents/REGULAMENTO OBMACS.pdf' %}" class="text-gray">Regulamento</a>
            </button>
        </section>
    </main>
    
    <aside>
        
        <!--<a href="#"class="text-gray">Simulados(disponíveis até dia 10/07)</a>-->

        <br><br><br>
    </aside>

</section>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}