{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block menu %}
{% include 'components/menu.html' %}
{% include 'components/Search.html' %}
{% endblock %}

{% block content %}

<section id="HomeOsmm" class="container">
    <main>
        <section>
            <!-- <img src="{% static 'images/logo.svg' %}" alt=""> -->
            <img src="{% static 'img/logoobmacs.png' %}" alt="">
        </section>
        <section class="descricao">
            <button>
                <a href="http://podemos.alunoead.com.br/course/view.php?id=12">Aluno inscreva-se aqui</a>
            </button>

            <button>
                <a href="https://api.whatsapp.com/send?phone=5535999773646&text=Ol%C3%A1%2C%20estou%20com%20uma%20duvida%20em%20rela%C3%A7%C3%A3o%20a%20OBMACS">Fale conosco</a>
            </button>
        </section>
    </main>
    
    <aside>
        
        <a href="{% static 'documents/REGULAMENTO OBMACS.pdf' %}" class="text-gray">Regulamento</a>
        <a href="https://docs.google.com/forms/d/16HGKkbrk01-hxuRkzdTIOQGeqEUZNK0QzAiickGdfy8/edit"class="text-gray">Pré-Inscrição</a>

        <br><br><br>
    </aside>

</section>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}